ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: black;
}

.barra-de-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-right: 20px;
}
 
.direita > ul > li {
    margin-right: 20px;
}

header {
    background-color: #a7856d;
    font-family: 'Lobster', cursive;
}

body {
    margin: 0;
}

section {
    background-color: #f4e1d6;
}

.esquerda {
    display: flex;
    flex-direction: row-reverse;
}

.botao {
    padding: 5px 5px;
    font-size: 15px;
    background-color: #553f2d;
    border: 1px solid #553f2d;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;
}

.botao:hover {
    background-color: white;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lobster', cursive;
}

.esquerdas1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coluna1 {
    display: flex;
    flex-direction: column;
}

.section2 {
    display: flex;
    flex-direction: row;
    font-family: 'Lobster', cursive;
}

.lesquerdo {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 100px;
    align-items: center;
}

.lcentro {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

.ldireita {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 35px;
    align-items: center;
}

.section3 {
    display: flex;
    flex-direction: row;
    font-family: 'Lobster', cursive;
} 

.lbottom {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-right: 30px;
}

.column2 {
    margin-left: 400px;
    margin-top: 15px;
}

.section4 {
    margin: 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.center {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.imgcenter {
    margin-left: 185px;
}

.section5 {
    padding: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#botao2 {
    padding: 5px 5px;
    font-size: 15px;
    background-color: #553f2d;
    border: 1px solid #553f2d;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;
}

#botao2:hover {
    background-color: white;
}

input {
    border: solid 2px #553f2d;
    height: 18px;
}

footer {
    background-color: #f1e7e5;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
} 

@media (max-width: 600px) {
    body, section, header , footer, .barra-de-navegacao {
        background-color: bisque;

    }

    .barra-de-navegacao {
        display: block;    
    }

    .esquerda {
        justify-content: center;
    }

    h1 {
        display: none;
    }

    .esquerdas1 {
        flex-direction: column;
    }
    .coluna1 > p {
        width: auto !important;
    }

    .direitas1 {
        margin-right: 0 !important;
        justify-content: center !important;
        width: auto !important;
    }
     
    .section2 {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 600px;
    }

    .lesquerdo {
        margin: 0;
    }

    .lcentro {
        margin: 0;
    }

    .ldireita {
        margin: 0;
    }

    .lbottom {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .column1 {
        width: 100%;
    }

    .column1 > p {
        width: 100%;
    }

    .column2 {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

